h1 a, h2 a {
    color: #b871ff;
    font-family: 'Nabla';
    font-palette: --nabla;
}

h1 a {
    color: #b871ff;
    font-family: 'Nabla';
    font-palette: --nabla;
}

h2 a {
    color: #b871ff;
    font-family: 'Jacquard 12';
}


@font-palette-values --nabla {
    font-family: Nabla;
    base-palette: 2;
}

/* @font-palette-values --nabla {
    font-family: Nabla;
    override-colors:
        0 #0d00ff,
        1 #aa00af,
        2 #ff00f1, 
        3 #ff00f1,
        4 #1800ff,
        5 #0803d8,
        6 #0000c9,
        7 #0031ff,
        8 #c600c6,
        9 #ff9cff;
} */

body {
    padding-left: 15px;
    background: black;
    color: lightblue;
    font-family: 'Balsamiq Sans'
}

.page-header {
    background-image: linear-gradient(194deg,#86f194, #c200a5, #e866ff);
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'Jacquard 12', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 11pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a,
.post h2 a:visited {
    color: #b871ff;
}

.post > .date,
.post > .actions {
    float: right;
}

.btn-secondary,
.btn-secondary:visited {
    color: #ff8f3f;
    background: none;
    border-color: #ff8f3f;
    margin: 15px;
}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: #ff8f3f;
}

.logoutbtn {
    background: none!important;
    border: none;
    padding: 0!important;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

.comment {
    margin: 20px 0px 20px 20px;
}

.commentlink {
    font-size: 11px;
}

.btn {
    margin-bottom: 40px;
}

.thumbsdown .thumbsup {
    color: white;
    background: yellow;
}

.stargif {
    display: block;
    margin-left: auto;
    margin-right: auto;
}